
Builds/VisualStudio2022/.vs/VSTHost_App/v17/Solution.VC.db
Builds/VisualStudio2022/.vs/VSTHost_App/v17/ipch/AutoPCH/feed66872ab7bb75/MAIN.ipch
Builds/VisualStudio2022/.vs/VSTHost_App/v17/ipch/AutoPCH/e46b825731aa9cb1/INCLUDE_JUCE_AUDIO_PROCESSORS.ipch
Builds/VisualStudio2022/.vs/VSTHost_App/v17/ipch/AutoPCH/e3ece9c913882e92/MAINCOMPONENT.ipch
Builds/VisualStudio2022/.vs/VSTHost_App/v17/ipch/AutoPCH/cd7c0370019f8fa9/VSTPLUGINCOMPONENT.ipch
Builds/VisualStudio2022/.vs/VSTHost_App/v17/ipch/AutoPCH/b89fcb7b12dcfd7b/AUDIOFILEMANAGER.ipch
Builds/VisualStudio2022/.vs/VSTHost_App/v17/ipch/AutoPCH/a8b85600cdc97556/VSTPLUGINHOST.ipch
Builds/VisualStudio2022/.vs/VSTHost_App/v17/ipch/AutoPCH/9a6efcf12eda450/TEST.ipch
Builds/VisualStudio2022/.vs/VSTHost_App/v17/ipch/AutoPCH/6b3d892c02e9f4f8/INCLUDE_JUCE_CORE.ipch
Builds/VisualStudio2022/.vs/VSTHost_App/v17/ipch/AutoPCH/37d4d0e21886108b/VSTPLUGINHOST.ipch
Builds/VisualStudio2022/.vs/VSTHost_App/v17/ipch/AutoPCH/2a616b95fcc60b05/EXPORTER.ipch
Builds/VisualStudio2022/.vs/VSTHost_App/v17/fileList.bin
Builds/VisualStudio2022/.vs/VSTHost_App/v17/DocumentLayout.json
Builds/VisualStudio2022/.vs/VSTHost_App/v17/DocumentLayout.backup.json
Builds/VisualStudio2022/.vs/VSTHost_App/v17/Browse.VC.db
Builds/VisualStudio2022/.vs/VSTHost_App/v17/.suo
Builds/VisualStudio2022/.vs/VSTHost_App/FileContentIndex/e5d4c7ec-7b25-4672-80f2-05a210e89893.vsidx
Builds/VisualStudio2022/.vs/VSTHost_App/FileContentIndex/c3858fd0-6ec7-44b0-b53a-4b81c2d37384.vsidx
Builds/VisualStudio2022/.vs/VSTHost_App/FileContentIndex/612e9a49-a11e-4973-ba08-647ac02db8db.vsidx
Builds/VisualStudio2022/.vs/VSTHost_App/FileContentIndex/58bccdc3-b248-4575-8ea3-2ceed922b14d.vsidx
Builds/VisualStudio2022/.vs/VSTHost_App/FileContentIndex/2afe83fa-5bae-4f6b-ac8e-4210d4bfbe2d.vsidx
Builds/VisualStudio2022/x64/Debug/App/AudioFileManager.obj
Builds/VisualStudio2022/x64/Debug/App/Exporter.obj
Builds/VisualStudio2022/x64/Debug/App/include_juce_audio_basics.obj
Builds/VisualStudio2022/x64/Debug/App/include_juce_audio_devices.obj
Builds/VisualStudio2022/x64/Debug/App/include_juce_audio_formats.obj
Builds/VisualStudio2022/x64/Debug/App/include_juce_audio_processors.obj
Builds/VisualStudio2022/x64/Debug/App/include_juce_audio_processors_ara.obj
Builds/VisualStudio2022/x64/Debug/App/include_juce_audio_processors_lv2_libs.obj
Builds/VisualStudio2022/x64/Debug/App/include_juce_audio_utils.obj
Builds/VisualStudio2022/x64/Debug/App/include_juce_core.obj
Builds/VisualStudio2022/x64/Debug/App/include_juce_core_CompilationTime.obj
Builds/VisualStudio2022/x64/Debug/App/include_juce_data_structures.obj
Builds/VisualStudio2022/x64/Debug/App/include_juce_events.obj
Builds/VisualStudio2022/x64/Debug/App/include_juce_graphics.obj
Builds/VisualStudio2022/x64/Debug/App/include_juce_graphics_Harfbuzz.obj
Builds/VisualStudio2022/x64/Debug/App/include_juce_graphics_Sheenbidi.obj
Builds/VisualStudio2022/x64/Debug/App/include_juce_gui_basics.obj
Builds/VisualStudio2022/x64/Debug/App/include_juce_gui_extra.obj
Builds/VisualStudio2022/x64/Debug/App/Main.obj
Builds/VisualStudio2022/x64/Debug/App/MainComponent.obj
Builds/VisualStudio2022/x64/Debug/App/resources.res
Builds/VisualStudio2022/x64/Debug/App/VSTHost_App.exe
Builds/VisualStudio2022/x64/Debug/App/VSTHost_App.exe.recipe
Builds/VisualStudio2022/x64/Debug/App/VSTHost_App.ilk
Builds/VisualStudio2022/x64/Debug/App/VSTHost_App.pdb
Builds/VisualStudio2022/x64/Debug/App/VSTHost_App_App.log
Builds/VisualStudio2022/x64/Debug/App/VSTHost_App_App.tlog/CL.command.1.tlog
Builds/VisualStudio2022/x64/Debug/App/VSTHost_App_App.tlog/Cl.items.tlog
Builds/VisualStudio2022/x64/Debug/App/VSTHost_App_App.tlog/CL.read.1.tlog
Builds/VisualStudio2022/x64/Debug/App/VSTHost_App_App.tlog/CL.write.1.tlog
Builds/VisualStudio2022/x64/Debug/App/VSTHost_App_App.tlog/link.command.1.tlog
Builds/VisualStudio2022/x64/Debug/App/VSTHost_App_App.tlog/link.read.1.tlog
Builds/VisualStudio2022/x64/Debug/App/VSTHost_App_App.tlog/link.secondary.1.tlog
Builds/VisualStudio2022/x64/Debug/App/VSTHost_App_App.tlog/link.write.1.tlog
Builds/VisualStudio2022/x64/Debug/App/VSTHost_App_App.tlog/rc.command.1.tlog
Builds/VisualStudio2022/x64/Debug/App/VSTHost_App_App.tlog/rc.read.1.tlog
Builds/VisualStudio2022/x64/Debug/App/VSTHost_App_App.tlog/rc.write.1.tlog
Builds/VisualStudio2022/x64/Debug/App/VSTHost_App_App.tlog/VSTHost_App_App.lastbuildstate
Builds/VisualStudio2022/x64/Debug/App/VSTHost_App_App.vcxproj.FileListAbsolute.txt
Builds/VisualStudio2022/x64/Debug/App/VSTPluginComponent.obj
Builds/VisualStudio2022/x64/Debug/App/VSTPluginHost.obj
